<!doctype html>
<html lang="en">
<link href="/rss.xml" rel="alternative" type="application/rss+xml">
<head>
	<meta charset="utf8">
	<title><%= "#{@title} | #{SITE_TITLE}" %></title>
	<link href="/reset.css" rel="stylesheet">
	<link href="/style.css" rel="stylesheet">
</head>

<body>
	<header>
		<hgroup>
			<h1> <a href="/"><%= SITE_TITLE %></a></h1>
		</hgroup>
	</header>
	
	<div id="main">
		<%= yield %>
	</div>
</body>

</html>