body {
    margin: 35px auto;
    width: 640px;
    background-color: #EBF5FF;
}
 
header {
    text-align: center;
    margin: 0 0 20px;
}
 
header h1 {
    color: #6599CC;
    display: inline;
    font-size: 48px;
    font-family: 'Lobster', cursive;
}
 
header h1 a:link, header h1 a:visited {
    color: #6599CC;
    text-decoration: none;
}
  
#main {
    margin: 0 0 20px;
}
 
#add {
    margin: 0 0 20px;
}
 
#add textarea {
    resize: none;
    height: 30px;
    width: 510px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
}
 
#add input {
    height: 40px;
    width: 100px;
    margin: -50px 0 0;
    border: 1px solid #6599CC;
    border-radius: 25px;
    background: #6599CC;
    font-family: 'Roboto', sans-serif;
	color: white;
}
 
#edit textarea {
    height: 30px;
    width: 480px;
    padding: 10px;
    border: 1px solid #ddd;
}
 
#edit input[type=submit] {
    height: 40px;
    width: 100px;
    margin: -50px 0 0;
    border: 1px solid #6599CC;
    border-radius: 25px;
    background: #6599CC;
    font-family: 'Roboto', sans-serif;
	color: white;
}
 
#edit input[type=checkbox] {
    height: 50px;
    width: 20px;
}
 
article {
    border: 1px solid #eee;
    border-top: none;
    border-radius: 5px;
    padding: 15px 10px;
    font-family: 'Roboto', sans-serif;
}
 
article:nth-child(even) {
	border: 1px solid #eee;
    background: #E6EFEF;
}

article:nth-child(odd) {
	border: 1px solid #eee;
    background: #FFFAE6;
}
 
article.complete {
    background: #fedae3;
}
 
article span {
    font-size: 0.8em;
}
 
p {
    margin: 0 0 5px;
    font-family: 'Roboto', sans-serif;
}
 
.meta {
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #888;
}
 
.links {
    font-size: 1.8em;
    line-height: 0.8em;
    float: right;
    margin: -10px 0 0;
}
 
.links a {
    display: block;
    text-decoration: none;
}

.notice {
	font-size: 1.2em;
	text-align: center;
	color: #00B88A;
}

.error {
	font-size: 1.2em;
	text-align: center;
	color: #FF5050;
}